:root {
	--background-color-a: #0F0F10;
	--background-color-b: #18181b;
	--border-color: #2C2C2E;
	--text-color: #CED1D4;

	--color-a: #447D3D;
	--color-b: #A5902D;

	--radius: 3px;
	--header-height: 50px;
	--keyboard-height: 200px;
	--max-width: 500px;

	--transition: 200ms ease-in-out;
}

html {
	height: 100%;
	font-size: 16px;
}

body {
	background-color: var(--background-color-a);
	color: var(--text-color);
	font-family: "DM Sans", sans-serif;
	margin: 0;
	width: 100%;
	height: 100%;
}

/* #region HEADER */

header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: var(--header-height);
	border-bottom: var(--radius) solid var(--border-color);
}

header >h1 {
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 5px;
}

/* #endregion */

/* #region MAIN */

main {
	display: flex;
    flex-direction: column;
    align-items: center;
	width: 100%;
	max-width: var(--max-width);
	height: calc(100% - calc(var(--header-height) + var(--radius)));
	margin: 0 auto;
	touch-action: manipulation;
}

/* #endregion */

/* #region GRID */

.grid {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 12px;
	justify-content: center;
    align-items: center;
	width: calc(100% - 40px);
	height: calc(100% - var(--keyboard-height));
    padding: 10px;
}

.grid .row {
	display: flex;
	flex-direction: row;
	gap: 12px;
	width: calc(100% - 40px);
    justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.cell {
	width: 100%;
	height: auto;

	display: flex;
    justify-content: center;
    align-items: center;

	color: var(--text-color);
	border: var(--radius) solid var(--border-color);
	border-radius: var(--radius);
	background-color: transparent;
	transition: background-color 900ms ease-in-out;

	font-size: 1rem;
	font-weight: bold;
    text-transform: uppercase;

	aspect-ratio: 1 / 1;
	box-sizing: border-box;
	user-select: none;
}

.cell:not(:empty) {
	animation: pop 200ms normal;
}

.cell.active {
	border-style: dashed;
}

.cell.green, .cell.yellow, .cell.gray {
	border-color: transparent;
	animation: flip 300ms alternate 0ms 2 forwards ease-in-out;
}

.cell.green {
	background-color: var(--color-a);
}

.cell.yellow {
	background-color: var(--color-b);
}

.cell.gray {
	background-color: var(--border-color);
}

@keyframes pop {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes flip {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(90deg);
	}
}

/* #endregion */

/* #region KEYBOARD */

.keyboard {
	height: calc(var(--keyboard-height) + 6px);
	width: 100%;
	max-width: var(--max-width);
	padding: 6px;
	box-sizing: border-box;
}

.keyboard .row {
	display: flex;
	gap: 6px;
	width: 100%;
	margin-bottom: 6px;
}

.keyboard button {
	flex: 1;
    justify-content: center;
    align-items: center;
	height: 60px;
	padding: 0 3px;
	font-size: 1rem;
	font-weight: bold;
	color: var(--text-color);
	background-color: var(--border-color);
	border: none;
	border-radius: var(--radius);
	transition: background-color var(--transition);
	box-sizing: border-box;
    text-transform: uppercase;
	cursor: pointer;
}

.keyboard button.green {
	background-color: var(--color-a);
}

.keyboard button.yellow {
	background-color: var(--color-b);
}

.keyboard button.gray {
	background-color: var(--background-color-b);
}

/* #endregion */

/* #region RESPONSIVE */

@media screen and (min-width: 440px) {
	.cell {
		font-size: 2rem;
	}
}

@media screen and (max-width: 280px) {
	.cell {
		font-size: 0.75rem;
	}
}

@media screen and (max-width: 260px) {
	.keyboard button {
		padding: 0;
	}
}

@media screen and (max-height: 880px) {
	.cell {
		flex: 0 1 12.5%;
		width: auto;
	}
}

/* #endregion */